/* .search-item-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
} */

.search-item .page-title, .search-item .tag-names  {
    -webkit-text-stroke: 1px lightskyblue;
}



.search-item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    width: 50%;
    background-color: grey;
    margin: 2rem auto;
    color: white;
}

.search-item a {
    color: white;
}

.search-bar span {
    margin-left: 10px;
    margin-right: 10px;
}
