.login-container {
    background-color: white;
    color: black;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550 rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5;
}

/* input {
    border: none;
    background-color: rgb(229, 226, 226);
    color: black;
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em
} */

input:focus {
    outline-color: burlywood;
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 0.25em;
    cursor: pointer;

}

.login-btn:hover { transform: scale(1.25);}

.text {
    position: relative;
    bottom: -2em;
}

/* p {
    color: black;
} */