.NavbarContainer {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: linear-gradient(180deg, #1b2735 0%, #090a0f 100%); */
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
}

a {
  text-decoration: none;
}

.NavbarLogo {
  margin-top: 10px;
  margin-left: 10px;
  width: 5%;
  cursor:pointer;
}

.NavbarLinks {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: white;
}

.NavbarLinks a {
  padding: 1rem;
  gap: 1rem;
  color: white;
}

.NavbarAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: white;
}

.login,
.login a {
  color: white;
}

.register,
.register a {
  color: white;
}