.NavbarContainer {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: linear-gradient(180deg, #1b2735 0%, #090a0f 100%); */
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
}

a {
  text-decoration: none;
}

.NavbarLogo {
  margin-top: 10px;
  margin-left: 10px;
  width: 45px;
  cursor:pointer;
}

.NavbarLogo:hover {
  transform: scale(1.05);
}

.NavbarLinks {
  display: flex;
  flex-direction: row;
  align-items: start;
  color: white;
  width: 30%;
}

.NavbarLinks a {
  padding: 1rem;
  gap: 1rem;
  color: white;
  cursor: pointer;
}

.NavbarLinks a:hover {
  transform: scale(1.05);
}

.navbar-auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: white;
  width: 30%;
  justify-content: right;
  gap: 20%;
}

.navbar-auth * {
  cursor: pointer
}

.navbar-auth *:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.login,
.login a {
  color: white;
}

.register,
.register a {
  color: white;
}

.history,
.history a {
  color: white;
}