.inn-box {
  color: white;
}

.wiki-page-text {
  text-align: left;
  width: 95%;
  padding-left: 1rem;
}

.tag-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag-container * {
  margin: 5px;
}

.page-links {
  color: #256eff;
  }

.wiki-page .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.button-container button {
  font-size: 12px;
  width: fit-content;
}

.button-container .mutate-buttons, .button-container .meta-info-buttons {
  margin: 10px;
  width: fit-content;
}

.message-box {
  border: 1px solid gray;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
}

.error-message {
  background-color: salmon;
  color: darkgray;
}

.innovation-message {
  background-color: gold;
  color: darkslategray;
}

.past-version-message {
  background-color: darkgray;
  color: darkslateblue
}

