body {
    background-color: rgb(115,115,150);
}

h1 {
    color: rgb(0,20,75)
}

.footer-container {
    height: 90vh;
    padding: 0.5em;
    margin: 25vh auto 0;
    margin-left: 1%;
    display:flex;
    justify-content: space-between;
}

.footer-links {
    color: white;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20%;
}

.footer-links a {
    color: white
}

.footer-auth {
    display: flex;
    flex-direction: row;
    gap: 50%;
    justify-content: flex-end;
    color: white;
}

.footer-auth a {
    color: white;
} 