.edit-wiki{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.delete-tags {
  cursor: pointer;
  border-radius: 5px;

}

button {
  margin: 2px;
}

.edit-wiki .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}