body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(75,75,75); */
  background: #232526;  
  background: -webkit-linear-gradient(to right, #414345, #232526); 
  background: linear-gradient(to right, #414345, #232526);
  color: #f2f2f2;

}

::-webkit-scrollbar {
  width: 10px;
}

.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  filter: drop-shadow(10px 0px 6px #B2BEB5	);
}

a {
  color: #256eff;
}

::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #256eff;
}

button {
  font-size: 18px;
  font-weight: bold;
  width: 7rem;
  
  border: none;
  appearance: none;
  background: #f2f2f2;
  margin: auto 5px auto 5px;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0037ff 50%, #0079fbfa 75%, #ffe100 100%);
  transition: 0.4s;
  background-size: 200%;
  background-position: 0%;
  color: #FFF;
  font-weight: 700;
}

button.danger {
  background-image: linear-gradient(to right, #ff7300 50%, #ff4800 65%, #cd0303 85%);
}

button:disabled {
  filter: brightness(85%);
  cursor: default;
}
button:hover:disabled {
  background-position: 0%;
}

input[type="submit"]:hover, button:hover {
  background-position: 100% 0%;
}

input {
  padding: 1px;
  border: none;
  background: #f2f2f2;
  padding: 8px;
  border-radius: 10px;
  width: 15rem;
  /* outline: none; */
}

.MuiDataGrid-footerContainer * {
  color: white;
  background-image: none;
}

.MuiDataGrid-main * {
  color: white;
  background-image: none;
}

h1 {
  color: rgb(255,255,255);
  -webkit-text-stroke: 1px lightskyblue;
  /* filter: drop-shadow(3px 2px 6px #B2BEB5); */
  
}

.quill {
  background-color: white;
}

.quill {
  color: black;
}