input, textarea {
  color: rgb(115,115,150);
  background-color: rgb(0, 20,75);
  
}

button {
  border-radius: 6px;
  background-color: rgb(0, 20,75);
  color: rgb(115, 115,150);
  cursor: pointer;
}