.wiki-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.wiki-header {
  text-align: center;
  background: rgb(100, 201, 135);
  background: linear-gradient(130deg, rgb(100, 201, 135) 25%, rgb(8, 159, 143) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-selector {
  display: block;
  width: 25%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.wiki-input-container {
  background-color: white;
  width: 80%;
  margin: 3rem;
  color: black;
}

.wiki-input-title {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  resize: none;
}

.wiki-input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  resize: none;
}

.wiki-buttons-container {
  text-align: right;
  margin-top: 2rem;
}

.wiki-buttons-container button {
  padding: .5rem 1.5rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wiki-buttons-container button:hover {
  background-color: #0056b3;
  scale: 1.1;
}

.error {
  margin: 1rem;
}